<a href="https://colab.research.google.com/github/Devil-Rick/Fake-Job-Detection/blob/main/Fake_Job_Detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Final Year Project 
## Group - 
#### Members :
* Saptarshi Dhibar - 10200118026
* Sanchita Pandit - 10200118027
* Niladri Sarker - 10200118037
* Koustav Roy - 10200118038

# **Fake Job Detection**
The `Employment Scam Aegean Dataset `(EMSCAD) is a dataset containing 17,880 `real-life job` ads that aims at providing a clear picture of the `Employment Scam problem`.

## Dataset Description
* Name - Description
* Title	- The title of the job ad entry.
* Location	- Geographical location of the job ad.
* Department	- Corporate department (e.g. sales).
* Salary range	- Indicative salary range (e.g. $50,000-$60,000)
* Company profile -	A brief company description.
* Description	- The details description of the job ad.
* Requirements -	Enlisted requirements for the job opening.
* Benefits	- Enlisted offered benefits by the employer.
* Telecommuting -	True for telecommuting positions.
* Company logo -	True if company logo is present.
* Questions -	True if screening questions are present.
* Fraudulent -	Classification attribute.
In balanced	Selected for the balanced dataset
* Employment type -	Full-type, Part-time, Contract, etc.
* Required experience	- Executive, Entry level, Intern, etc.
* Required education -	Doctorate, Master’s Degree, Bachelor, etc.
* Industry	- Automotive, IT, Health care, Real estate, etc.
* Function -	Consulting, Engineering, Research, Sales etc.

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd 
import numpy as np

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Fake Job Dataset/fake_job_postings.csv')

In [ ]:
df.head()

   job_id  ... fraudulent
0       1  ...          0
1       2  ...          0
2       3  ...          0
3       4  ...          0
4       5  ...          0

[5 rows x 18 columns]

In [ ]:
df.columns

Index(['job_id', 'title', 'location', 'department', 'salary_range',
       'company_profile', 'description', 'requirements', 'benefits',
       'telecommuting', 'has_company_logo', 'has_questions', 'employment_type',
       'required_experience', 'required_education', 'industry', 'function',
       'fraudulent'],
      dtype='object')